* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #FFE8DB;
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  font-family: sans-serif;
}

h1 {
  color: black;
  font-size: 3rem;
  font-family: sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding-top: 2rem;
}

.cont-principal {
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}