button {
    width: 250px;
    height: 80px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    border-style: none;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color:black;
}

.boton-click {
    background-color: #5BA3A0;
}

.boton-reiniciar {
    background-color: #A37F6C;
}
